<!DOCTYPE html>
<html>
  <head>
    <title>TweeTINT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    <!-- resources for project demos //-->
    <link rel="stylesheet" media="all" href="static/tabs.css" />
    <script type='text/javascript' src='../static/jquery.hashchange.min.js'></script>
    <script type='text/javascript' src='../static/jquery.easytabs.min.js'></script>
    <script type='text/javascript' src='../static/jquery-1.7.1.min.js'></script>

  </head>

  <body>

    <div class="container">
      <!-- Inherits templated code from base.html -->
      {% block content %}

        <div id="loading">
          <img id="loading-image" src="static/ajax-loader.gif" alt="Loading..."/>
        </div>
        
        <!-- CSS for loading background -->
        <style>
          div #menu
          {
            border:2px solid #a1a1a1;
            padding:10px 20px; 
            border-radius:15px;
          }
        </style>

        <p style="float: right; padding-top: 2vh">Click <a href="/logout">here</a> to logout. </p>
        <h1>Welcome to TweeTINT!</h2>
        <p>TweeTINT - A twitter sentiment analysis webapp</p>
        <br>
        
        <form action="" method="post">
          <input type="text" placeholder="Enter keyword Here..." name="keyword" value="{{request.form.keyword }}" required>
          <input type="number" placeholder="Enter search quantity" min="5" name="fetchcount" value="{{request.form.fetchcount }}" pattern="\d+" required>
          <input class="btn btn-default" type="submit" value="Search">
        </form>
        <br>

        <h3>You searched for: <span style="color: #999999"> {{ keyword }} {{ fetchcount }} </span></h3>

        <!-- Tabbed contianers for different categories of infos -->
        <div id="twitter-bootstrap-container">
          <div id="twitter-bootstrap-tabs">
            <!-- <ul class="nav nav-tabs"> -->
            <ul class="nav nav-tabs">
         
              <li><a href="#tweet-text">Home</a></li>
              <li><a href="#tweet-sentiment">Sentiment</a></li>
              <li><a href="#sentiment-rank">Rankings</a></li>
              <li><a href="#ht-frequency">Hashtag Freq.</a></li>
              <li><a href="#tweet-locale">Country</a></li>
            </ul>
          </div>

          <div class="panels">
            <div class="tab" id="tweet-text" >
              <h3>Tweets related to <span style="color: #999999"> {{ keyword }} </span></h3>
              <div class = "list-group">
                {% for tweet in tweet_content %}
                  <a href="#" class="list-group-item container-fluid" style="padding-top: 10px; padding-bottom: 10px;">
                    
                    <p class = "list-group-item-text">{{ tweet.text }}<br>
                    <strong>Date:</strong> {{ tweet.date }} </p>
                    
                  </a>
                {% endfor %}
              </div>
              <a href = "#" >Back to top</a> 
              <br>
            </div>
        
            <div class="tab" id="tweet-sentiment" >
              <div class='matplotlib'>
                <h3>Sentiment Distribution</h3>
                <img src="static/temp/{{plotPng}}">
                <br><br><br>
              </div>
            </div>

            <div class="tab" id="sentiment-rank" >
              <h3>Most Positive/Negative Tweet</h3>
                <p>
                  <strong>Most +ve Tweet: </strong>{{positive_tweet}}
                  <br>
                  <strong>Sentiment score: </strong>{{positive_score}}
                </p>
                <p>
                  <strong>Most -ve Tweet: </strong>{{negative_tweet}}
                  <br>
                  <strong>Sentiment score: </strong>{{negative_score}}
                </p>
              <br>
            </div>

            <div class="tab" id="ht-frequency" >
              <h3># Frequency</h3>
                {%  for ht in cleanHashTags %}
                  <strong>#</strong>{{ht[0].decode("utf-8")}} <span> - </span> 
                  <strong>{{ht[1]}}</strong>
                  <br>
                {% endfor %}
              <br>
            </div>

          </div>
          <span style = "float: right">created by: <b style="color: #999999">Jason Lin</b> <br><a href="www.linpossible.com">www.linpossible.com</a></span>
        </div>

        <!-- Javascript inclusions -->
        <script type="text/javascript">
          $(document).ready( function() {
            $('#twitter-bootstrap-tabs').easytabs();
          });
        </script>

        <script language="javascript" type="text/javascript">
          $(window).load(function() {
            $('#loading').hide();
          });
        </script>

        <script src="static/scripts.js"></script>

      {% endblock %}

    </div>

  </body>
</html>
