<!DOCTYPE html>
<html>
  <head>
    <title>TweeTINT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    <!-- resources for project demos //-->
    <link rel="stylesheet" media="all" href="static/tabs.css" />
    <script type='text/javascript' src='../static/jquery.hashchange.min.js'></script>
    <script type='text/javascript' src='../static/jquery.easytabs.min.js'></script>
    <script type='text/javascript' src='../static/jquery-1.7.1.min.js'></script>
  </head>

  <body>

    <div class="container">
      <!-- {% extends "base.html" %} -->
      {% block content %}
        <div id="loading">
          <img id="loading-image" src="static/ajax-loader.gif" alt="Loading..."/>
        </div>
        <style>

        div #menu
        {
          border:2px solid #a1a1a1;
          padding:10px 20px; 
          border-radius:15px;
        }
        </style>

        <h1>Welcome to TweeTINT!</h2>
        <p>TweeTINT - A twitter sentiment analysis webapp</p>
        <br>
        <p>Your login was successful. Click <a href="/logout">here</a> to logout.</p>
        <br><br>
        <form action="" method="post">
          <input type="text" placeholder="Enter Keyword Here..." name="keyword" value="{{request.form.keyword }}">
          <input class="btn btn-default" type="submit" value="Search">
        </form>
        <br><br>

        <h3>You searched for: {{ keyword }}</h3>

        <div id="twitter-bootstrap-container">
          <div id="twitter-bootstrap-tabs" data-easytabs="true">
            <ul class="nav nav-tabs">
         
              <li class="active"><a href="#tweet-text">Home</a></li>
              <li class="inactive"><a href="#tweet-sentiment">Sentiment</a></li>
              <li class="inactive"><a href="#sentiment-rank">Rankings</a></li>
              <li class="inactive"><a href="#ht-frequency">Hashtag Freq.</a></li>
              <li class="inactive"><a href="#tweet-locale">Country</a></li>
            </ul>
          </div>

          <div class="panels">
            <div id="tweet-text" >
              {% for tweet in tweet_content %}
                {{ tweet.text }} <br>
                <strong>Date:</strong> {{ tweet.date }} <br>
                <br>
              {% endfor %}
              <br>
            </div>
        
            <div id="tweet-sentiment" >
              <div class='matplotlib'>
                <h3>Sentiment Distribution</h3>
                <img src="static/temp/{{plotPng}}">
                <br><br>
              </div>
            </div>

            <div id="sentiment-rank" >
              <h3>Most Positive/Negative Tweet</h3>
                <p>
                  <strong>Most +ve Tweet: </strong>{{positive_tweet}}
                  <br>
                  <strong>Sentiment score: </strong>{{positive_score}}
                </p>
                <p>
                  <strong>Most -ve Tweet: </strong>{{positive_tweet}}
                  <br>
                  <strong>Sentiment score: </strong>{{negative_score}}
                </p>
              <br>
            </div>

            <div id="ht-frequency" >
              <h3>HashTag Frequency</h3>
                {%  for hashtag in hash_frequency %}
                  <strong>#</strong>{{hashtag[0]}} <span> - </span> 
                  <strong>{{hashtag[1]}}</strong>
                  <br>
                {% endfor %}
              <br>
            </div>

            <div id="tweet-locale" >
              <h3>Country</h3>
              <p>Underconstruction</p>
            </div>
          </div>
        </div>

        <script type="text/javascript">
          $(document).ready( function() {
            $('#twitter-bootstrap-tabs').easytabs();
          });
        </script>

        <script language="javascript" type="text/javascript">
          $(window).load(function() {
            $('#loading').hide();
          });
        </script>

      {% endblock %}

    </div>

  </body>
</html>
