{% extends "base.html" %}
{% block content %}
<style>
div #menu
{
  border:2px solid #a1a1a1;
  padding:10px 20px; 
  border-radius:15px;
}
</style>

<h1>Welcome to TweeTINT!</h2>
<br>
<p>Click <a href="/logout">here</a> to logout.</p>
<br><br>
<form action="" method="post">
  <input type="text" placeholder="Enter Keyword Here..." name="keyword" value="{{request.form.keyword }}">
  <input class="btn btn-default" type="submit" value="Search">
</form>
<br><br>

<h3>You searched for: {{ keyword }}</h3>
{% for tweet in tweet_content %}
  {{ tweet.text }} <br>
  <strong>Date:</strong> {{ tweet.date }} <br>
<br>
{% endfor %}
<br>

<h3>HashTag Frequency</h3>
{%  for hashtag in hash_frequency %}
  {{hashtag.word}} <span> - </span> 
  <strong>{{hashtag.count}}</strong>
  <br>
{% endfor %}
<br>

<div class='matplotlib'>
	<h3>Sentiment Distribution</h3>
 	<img src="static/temp/{{plotPng}}">
</div>


<!-- <div id="sidebar">
  <span>Select plot type</span>
  <br/>
  <input type="radio" name="plot_type" value="line" checked>Line</input>
  <br/>
  <input type="radio" name="plot_type" value="bar" >Bar</input>
  <br/>
  <input type="radio" name="plot_type" value="pie" >Pie</input>
  <br/>
  <input type="radio" name="plot_type" value="scatter" >Scatter</input>
  <br/>
  <input type="radio" name="plot_type" value="hist" >Histogram</input>
  <br/>
  <input type="radio" name="plot_type" value="area" >Area</input>
  <br/>
  <button type="button" id="query">View Plot</button>
  <br/>
</div>
<img src = "http://photography.naturestocklibrary.com/orca-stock-photo.jpg">  -->
<script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="http://mpld3.github.io/js/mpld3.v0.2.js"></script>
<div id="fig01"></div>
<script type="text/javascript">
  // var json02 = {{json01}};
  // graph = {{ sentiment_graph|safe }};
  mpld3.draw_figure("fig01", {{json01|tojson}});
  mpld3.save_html(draw_figure("fig01", {{json01|tojson}}), graph.html);
  // mpld3.show(graph)
</script>
<!--  <p>{{json01}}</p> -->


{% endblock %}
